html{
  height: 100%;
}
body {
  min-height: 100%;
}
/* LOADING DATA */
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .dz-image > * {
    width:100%!important;
  }
  .dropzone .dz-preview .dz-image {
    width: 220px;
  }
  
  .pagination{
    margin:0px!important;
  }
  .box{
    border-radius:0px;
  }
  .form-control, .input-group .input-group-addon {
    border-color: #a9a9a9;
  }

  .modal-full{
    width:100%!important;
    margin:0px!important;
  }

  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }
/* LOADING DATA */

/* PUBLIC CSS */
.loading{
  width:100%;
  height:100vh;
  visibility: hidden;
  opacity: 0;
  position:fixed;
  top:0px;
  background:rgba(0, 0, 0, 0.6);
  z-index:9999;
  display:flex!important;
  align-items:center;
  justify-content: center;
  transition: visibility 0.5s, opacity 0.5s linear;
}
.loading.active{
  visibility: visible;
  opacity: 1;
  display:flex!important;
  transition: visibility 0.5s, opacity 0.5s linear!important;
}
.dropdown-1 > .dropdown-menu{
  left:auto;
  right:0px;
}

.login-1{
    margin-top:15px;
}

.padding15{
  padding:15px;
}
.nomargin > p{
  margin:0px!important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
  padding: 11px 12px;
  height: 45px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px;
  right: 3px;
  top: 7px;
}

thead > tr > th {
  font-size:1rem!important;
}
tbody > tr > td {
  font-size:1.2rem!important;
}
.table-1 > tbody > tr > td {
  font-size:1.5rem!important;
}

.dropdown-menu{
  border-radius:0px!important;
  border:0px;
  box-shadow:0 3px 8px rgba(0,0,0,0.225);

}
.dropdown-menu>li>a{
  font-size:1.6rem;
  color:#000;
}

/* PRINT PDF */
#print1{
  display:none;
  font-size:1.3rem;
}
#print2{
  display:none;
  font-size:1.3rem;
}
#print1.active{
  display:block;
}
#print2.active{
  display:block;
}
.print-1{
  margin-bottom:0px;
  margin-top:0px;
}
.print-2{
  font-size:1rem;
}
.print-3{
  border-top:1px solid rgba(0, 0, 0, 0.5);
}
.print-4{
  width:100%;
  margin-bottom:25px;
}
/* .print-4 > tbody > tr > td {
  padding:0px 25px!important;
} */
.print-5{
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
}
.print-6{
  padding-left:15px;
  margin-top:10px;
  margin-bottom:20px;
}
.print-7{
  margin-bottom:75px;
}
.print-8{
  border-bottom:1px dashed #000;
  margin-top:10px;
  margin-bottom:10px;
}
.print-9{
  font-weight: bold;
}
.print-10{
  margin-top:10px;
  margin-bottom:15px;
}
.print11{
  margin-top:15px;
}
.modal{
  padding-left:0px!important;
  padding-right:0px!important;
  overflow: auto !important;
}
.swal-modal{
  width:auto!important;
}
.login-page{
  height:100vh!important;
}
.login-box{
  margin:0px!important;
}
.cke_contents.cke_reset{
  height:200px!important;
}
.form-control, .input-group .input-group-addon{
  border-color:#bdbdbd;
}
.article-img{
  width:100%; height:auto; border:1px dashed #000;
  padding:5px;
  display:flex!important;
  align-items:center;
  justify-content: center;
}
.imgArticle{
  width:100%;
}
/* FORM WIZARD */
.dropzone {
  background: white;
  border-radius: 0px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding:0px!important;
  display:flex!important;
  align-items:center;
  justify-content: center;
  font-weight: bold;
  transition:0.2s all ease-out;
}
.dropzone .dz-preview .dz-image{
  border-radius:0px;
}
.dropzone:hover{
  background:rgb(231, 231, 231);
  transition:0.2s all ease-in;
}
.img-gallery{
  width:100%;
}
.container1 {
  position: relative;
  width: 100%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}
.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.small-box .icon{
  font-size:65px;
  top: 5px;
  right: 25px;
}
.small-box:hover .icon{
  font-size:75px;
}
.button-article{
  position:absolute;
  bottom:15px;
  left:15px;
}

/* FORM WIZARD */
.wizard {
  margin: 20px auto;
  background: #fff;
}

  .wizard .nav-tabs {
      position: relative;
      margin: 40px auto;
      margin-bottom: 0;
      border-bottom-color: #e0e0e0;
  }

  .wizard > div.wizard-inner {
      position: relative;
  }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;
  
}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

  .wizard .nav-tabs > li a:hover {
      background: transparent;
  }

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
      width: 90%;
      height: auto !important;
  }

  span.round-tab {
      font-size: 16px;
      width: 50px;
      height: 50px;
      line-height: 50px;
  }

  .wizard .nav-tabs > li a {
      width: 50px;
      height: 50px;
      line-height: 50px;
  }

  .wizard li.active:after {
      content: " ";
      position: absolute;
      left: 35%;
  }
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
  border: 1px solid #bdbdbd;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  font-size:16px!important;
}
.disabledNav > a{
  color:#b8c7ce27!important;
}
.form-control, .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
  border-color: #a0a0a0!important;
}
.select2-container{
  width:100%!important;
}
.cariMenu{
  border:0px!important;
}
.img-thumbnail{
  max-width:25%!important;
}
.callout.callout-info:hover{
  cursor:pointer;
  background:#00aad4!important;
  transition: 0.3s all ease-in;
}
.callout.callout-info{
  transition: 0.3s all ease-out;
}
.callout{
  padding:15px!important;
}
/* .callout.cabang-1{
  background-color:#fff!important;
}.cabang-1 > * > * {
  color:#000;
} */
.content-header>h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
/* responsive */
@media screen and (max-width: 600px) {
  .login-box{
    margin: 7% auto!important;
  }
}